.carrito{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;

}
.boton{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}